body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #273043;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  margin-top: 5em;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #eff6ee;
}

.todo-input {
  margin: auto;
}
.list-group {
  margin: auto;
  text-align: left;
}
